.about-us-container {
  width: 60%;
  text-align: justify;
  padding-right: 50px;
}

.about-us-container .about-us-description {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-container .about-us-content {
  font-size: 19px;
  margin-bottom: 20px;
}
